*{
    font-weight: normal;
}
img{
    height: 250px;
    width: 250px;

}
#red{
    color: red;
}
#blue{
    color:blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
.bold{
    font-weight: bold;
}